a.link-to-project {
  text-decoration: none;
  color: var(--font-color-01);
  text-transform: none;
}

/* silfen */
#silfen a.link-to-project {
  color: var(--link-color-silfen-01);
}

.underline {
  position: relative;
  transition: color 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--font-color-01);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1), background-color 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* silfen */
#silfen .underline::before {
  background-color: var(--link-color-silfen-01);
}

/* MOBILE */
@media (hover: hover) and (pointer: fine) {
  .underline:hover::before {
    right: 0;
    left: auto;
    width: 0%;
  }
  /* mosquito */
  #mosquito-attack .underline:hover {
    color: var(--font-color-mosquito-01);
  }
  #mosquito-attack .underline:hover::before {
    background-color: var(--font-color-mosquito-01);
  }
}
