:root {
  /* colours */
  --bg-body: #696969;
  --bg-gradient-home-01: #7b7b7b;
  --bg-gradient-home-02: #df7777;
  --bg-gradient-mosquito-01: #757575;
  --bg-gradient-mosquito-02: #464646;
  --bg-gradient-byu-01: #dadada;
  --bg-gradient-byu-02: #abaaaa;
  --font-color-01: white;
  --font-color-mosquito-01: #ff8be0;
  --font-color-byu-01: #9e7200;
  /* fonts */
  --font-heading-01: "Roboto Mono", monospace;
  --font-heading-02: "Josefin Sans", sans-serif;
  /* font-sizes*/
  --h2-font-size: 3rem;
  --h3-font-size: calc(var(--h2-font-size) / 2);
  /* margins */
  --margin-tag-01: 20px;
  --margin-tag-02: calc(var(--margin-tag-01) / 2);
  /* paddings */
  --padding-tag-01: 0.8rem;
  --padding-tag-02: calc(var(--padding-tag-01) / 2);
}
