:root {
  /* colours */
  --bg-body: #b4c1ad;
  --bg-gradient-home-01: #aaaaaa;
  --bg-gradient-home-02: #9a9a9a;
  --bg-color-01: #c27f7f;
  --bg-color-02: #001bb1;
  --bg-color-03: #4e4e4e;
  --about-shadow-color: #fff0be;
  --bg-gradient-mosquito-01: #757575;
  --bg-gradient-mosquito-02: #464646;
  --bg-gradient-byu-01: #dadada;
  --bg-gradient-byu-02: #abaaaa;
  --bg-gradient-byu-01: #dadada;
  --bg-color-silfen-01: #fff;
  --font-color-01: white;
  --font-color-mosquito-01: #ff8be0;
  --font-color-byu-01: #9e7200;
  --font-color-silfen-01: #1b61a1;
  --link-color-silfen-01: #acb70d;
  /* fonts */
  --font-heading-01: "Roboto Mono", monospace;
  --font-heading-02: "Josefin Sans", sans-serif;
  /* font-sizes*/
  --h2-font-size: 3rem;
  --h3-font-size: calc(var(--h2-font-size) / 2);
  /* margins */
  --side-gutter: 3rem;
  --margin-01: 1rem;
  --margin-02: calc(var(--margin-01) / 2);
  /* paddings */
  --side-padding: 3rem;
  --padding-tag-01: 0.8rem;
  --padding-tag-02: calc(var(--padding-tag-01) / 2);
}
