* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section#gradient-wrapper {
  background: linear-gradient(var(--bg-color-main-01), var(--bg-color-main-02));
}

g#me {
  pointer-events: none;
}

g#shapes > * {
  opacity: 0;
}
