* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* GENERAL */

body {
  background-color: var(--bg-body);
}

h1 {
  font-family: var(--font-heading-01);
  font-weight: 100;
  color: var(--font-color-01);
}

h2,
h3,
h4,
div.tag,
p {
  font-family: var(--font-heading-02);
  font-weight: 200;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* HOME-PAGE */

main {
  position: relative;
}

#home-gradient {
  background: linear-gradient(var(--bg-gradient-home-01), var(--bg-gradient-home-02));
}

g#me {
  pointer-events: none;
}

g#shapes > * {
  opacity: 0;
}

section#title-text {
  position: absolute;
  top: 0vw;
  left: 10vw;
}

section#title-text h1 {
  font-size: 3.6vw;
  line-height: 1.5em;
}

/* PROJECTS-PAGE */

h1#title-projects {
  font-size: 4rem;
  margin-top: 15vw;
  margin-left: 2rem;
  margin-bottom: 10vw;
  width: 70%;
}

div.divider-line {
  height: 1px;
  width: 70vw;
  margin: 0 auto 3rem auto;
}

.project {
  padding: 6rem 2rem 0 2rem;
}

div.left-grid,
div.right-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem 1rem;
}

.project h2 {
  font-size: var(--h2-font-size);
}

.project h3 {
  font-size: var(--h3-font-size);
}

div.left-grid div.info-box {
  grid-area: 1 / 1 / 2 / 3;
}

div.left-grid .hero {
  grid-area: 1 / 3 / 2 / 6;
}

div.right-grid div.info-box {
  grid-area: 1 / 4 / 2 / 6;
}

div.right-grid .hero {
  grid-area: 1 / 1 / 2 / 4;
}

p.description {
  grid-area: 2 / 2 / 3 / 5;
  margin-bottom: 3rem;
}

div.screenshots {
  grid-area: 3 / 1 / 4 / 6;
}

div.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

div.tag {
  border: 1px solid var(--font-color-01);
  padding: var(--padding-tag-02) var(--padding-tag-01);
  margin-right: var(--margin-tag-01);
  margin-bottom: var(--margin-tag-02);
  border-radius: 2em;
}

/* mosquito-attack */

#mosquito-attack div.divider-line {
  background-color: var(--font-color-mosquito-01);
}

#mosquito-gradient {
  background: linear-gradient(var(--bg-gradient-mosquito-01), var(--bg-gradient-mosquito-02));
}

#mosquito-attack div.tag {
  border: 1px solid var(--font-color-mosquito-01);
}

#mosquito-attack {
  color: var(--font-color-mosquito-01);
}

#mosquito-attack div.screenshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#mosquito-attack div.screenshots img {
  max-width: 30vw;
  height: auto;
}

/* BYU studio */

#byu-studio {
  color: var(--font-color-byu-01);
  background: linear-gradient(var(--bg-gradient-byu-01), var(--bg-gradient-byu-02));
}

#byu-studio div.divider-line {
  background-color: var(--font-color-byu-01);
}

#byu-studio div.tag {
  border: 1px solid var(--font-color-byu-01);
}

div#byu-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
