a.link-to-project {
  text-decoration: none;
  color: var(--font-color-01);
}

.underline {
  position: relative;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background-color: var(--font-color-01);
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .underline:hover {
    transform: skewX(-5deg);
  }
  .underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}
